.Nav {
    background-color: rgb(25, 87, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 0 623px;
    position: relative;
    z-index: 2;
    
  }
  
  .Lista {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    left: 620px;
  }
  
  .Menu {
    margin-right: 30px;
    font-size: 15px;
    white-space: nowrap;
  }
  
  .NÓS {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 30px;
    transition: 0.3s;
  }
  
  .Conta{
    color: #3a76d1;
    text-decoration: underline;
  }